h1 {
    text-shadow: 3px 3px rgb(0, 0, 0);
    text-align: center;
    color: #ffffff;
}

a {
    text-decoration: none;
    border: solid;
    border-radius: 30px;
    border-color: rgb(0, 0, 0);
    padding: 15px;
}

a:hover {
    color: white;
    background-color: rgb(0, 0, 0);
    border-color: white;
}

body {
    /* background-color: #d6d0d4;*/
  text-align: center; 
  
}

.letra {
    color: white;
}

.login {
    margin-top: 10%;

}

.imagemesquerda {
    float: left; /* A imagem flutua para a esquerda */
    margin-right: 15px; /* Adiciona um espaço entre a imagem e o texto */
    width: 800px; /* Ajusta a largura da imagem */
  
   
}
/* vai ser mudado com java */
td{
    border-width: 1px;
    border-style: solid;
    border-color: black;

}
table{
    border-width: 2px;
    border-style: solid;
    border-color: black;


}

a{
    box-sizing: border-box;
  }
  
  a {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the side navigation */
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
  }
  
  
  /* Side navigation links */
  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
  .sidenav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the content */
  .content {
    margin-left: 200px;
    padding-left: 20px;
  }
  
  body {
    background-image: url('../css/fundo.jpg'); /* Caminho correto para a imagem */
    background-size: cover;                       /* A imagem cobre toda a área do body */
    background-position: center;                  /* A imagem ficará centralizada */
    background-repeat: no-repeat;                 /* A imagem não se repetirá */
    height: 100vh;                                /* A altura será 100% da altura da janela */
    margin: 0;                                    /* Remove qualquer margem padrão */

   
}

  .body{
    margin: 0;
    padding:0;
    font-family: 'Arial', sans-serif;
    background: #537d90;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .form-container2 {
    display: flex;
    width: 900px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba (0, 0, 0, 0.2);
    overflow: hidden;

}

  .form-box {
  padding: 40px;
  width: 60%;
}

  .tituloc {
    margin-bottom: 20px;
    color: white;
    font-size: 24px;
  }

  input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background: rgb(172, 222, 252);
  }

  .form-group{
    margin-bottom: 20px;
  }

  .btn-register {
    background: rgb(33, 140, 228);
    color: aliceblue;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba (0, 0, 0, 0.1);

  }

  .btn-register:hover {
    background: rgb(0, 79, 168);
  }


  
 



  